*{  
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;  
  } 
/* body, html{ */
    /* height: 100%; */
    /* width: 100%; */
/* } */
.banner{
display: flex; 
justify-content:flex-end;
    height: 100vh;
    width: 100vw;

    background: url(../img/balloon_1200x800.jpg); 
    background-repeat: no-repeat;
    background-size: 100% 139%;
    background-position: center;
    position: relative;
}

.banner__info{
    height: 350px;
    width: 40%;
   
    margin-right: 50px;
    
    margin-top: 225px;
    font-family: 'Open Sans', sans-serif;
}
.banner__title{
    height: 70px;
    font-size: 35px;
    line-height: 50px;
     
}
.banner__subtitle{
    height: 50px;
    font-size: 20px;
    line-height: 30px;
}
.banner__text{
    height: 196px;
    font-size: 14px;
    line-height: 30px;
}
.banner__info>div{
    margin: 5px 0;
    /* border: 1px solid black; */
    background: rgba(69, 57, 49, 0.5);
    color:aliceblue;
    padding: 10px;
}
.banner__btn{
    background:rgba(48, 177, 13, 0.3);
    border:none;
    display: block;
    padding: 5px 20px;
    margin-top: 10px;
    border-radius: 120px;
}
.banner__btn a{
color:beige;
text-transform: uppercase;
text-decoration: none;
}
.dot-item{
    height: 25px;
    width: 25px;
    background: rgb(0, 0, 0, .3);
    border-radius: 50%;
    cursor: pointer;
}
.dots{
    display: flex;
    width: 150px;
    justify-content: space-around;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
}